.parallax {
    background: no-repeat fixed center;
    background-size: cover;
    height: 700px;
    margin-bottom: 10px;
    position: relative;
}

#head-image {
    background-image: url("../images/one.jpg");
}
#second-image {
    background-image: url("../images/two.jpg");
}

#head-image  {
    position: relative;
}

#foreground-title {
    margin-top: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #FFFFFF;
    text-shadow: 0 0 10px black,
    5px 5px 0 black,
    10px 10px 10px white;
}

.information {
    width: 100%;
    background: rgba(0,0,0,0.8);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 250px;
    color: white;
    text-align: center;
}

.info-paragraph {
    text-align: center;
}


#home-vid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px outset #333333;
    background: #000000;
}

#home-vid::after {
    content: 'Police Tribune Campaign Video';
}
nav {
    background: linear-gradient(rgb(255,255,255), rgb(192,192,192));
    position: relative;
    z-index: 1;
}

body {
    background: none;
}